body{
  font-family: 'Raleway', sans-serif;
  min-width: 960px;
}
a{
  text-decoration: none;
}
.menu{
   text-align: center;
 }
.menu-item{
  font-family: 'Raleway', sans-serif;
  color: grey;
  text-transform: uppercase;
  font-size: 12px;
  width: 13%;
  display: inline-block;
  margin: auto;
}
.menu a{
  height: 30px;
  vertical-align: top;
  padding-top: 20px;
}
.menu img{
  width: 50px;
  margin-top: 0px;
}
.menu-item:hover{
  background-color: grey;
  color: white;
}
