footer{
  background-color: #191919;
  color: white;
  text-align: center;
}
.footer_wrapper{
  /*display: inline-block;*/


  /*display: flex;
  justify-content: space-evenly;*/
}
.footer_part{
  display: inline-block;
  width:200px;
  margin: 0 30px;
  vertical-align: top;
}
.footer_part h3{
  font-size: 16px;
  text-transform: uppercase;
  margin: 20px auto;
}
.footer_part p{
  font-size: 12px;
}
.footer_part a{
  color: white;
  text-decoration: none;
}
.footer_part img{
  height: 130px;
  margin-top: 30px;
}
.white_small_bar{
  border: solid 1px white;
  height: 0px;
  width: 30px;
  margin: 1px auto 20px auto;
}
#copyright{
  font-size: 8px;
  margin: 0;
}
