h1{
  margin-top: 200px;
  font-size: 70px;
	
}
h2{
  margin-top: 50px;
  padding-bottom: 250px;
  font-size: 50px;
}
header{
  background-image: url(../../ressources/100_homepage/img/01_header.png);
}
.left-50 {
  float: left;
  width: 50%;
}
.right-50 {
  float: right;
  width: 50%;
}
div.clearfix {
  clear:both;
}
.text_cadre {
  width:450px;
  text-align: center;
  display: inline-block;
  background-color: #f5f6f0;
}
.text_cadre p {
  margin: 0 65px 50px 65px;
  color: #515148;
}
.right-50 img, .left-50 img {
  height: 415px;
}
.small_bar {
  border: solid 1px;
  height: 0px;
  width: 80px;
  margin: 0px auto 40px auto;
}
.homepage_text_btn {
  margin: 0 auto 30px;
  padding: 8px 30px;
  border: solid 3px grey;
  text-transform: uppercase;
  font-size: 15px;
  color: #515148;
  display: inline-block;
}
.homepage_text_btn:hover{
  background-color: grey;
  color: white;
}
.homepage_recette{
  background-image: url(../../ressources/100_homepage/img/03_Linguini.png);
  background-size: cover;
}
.homepage_recette img{
  margin-top: 10px;
  height: 100px;
}
.homepage_recette h3{
  color: white;
  margin-bottom: 10px;
  padding-top: 50px;
}
.homepage_recette p{
  margin-top: 1px;
}
.sucre_sale{
  height: 250px;
  width: 400px;
  display: inline-block;
  margin-bottom: 60px;
}
.recette_btn{
  color: white;
  background-color: grey;
  margin: 20px 60px 20px 60px;
  padding: 8px 30px 8px 30px;
  border: solid 3px;
  text-transform: uppercase;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
}
.recette_btn:hover{
  background-color: white;
  color: grey;
}
.vertical_bar{
  height:200px;
  width: 0px;
  border: 1px white solid;
  display: inline-block;
}
