header{
  background-image: url("../../ressources/300_recettes/img/300_header.png");
}
.wrapper img{
  position: relative;
  width:400px;
  height:300px;
  margin-bottom: 30px;
}
a{
  width: 460px;
  display: inline-block;
}

img:hover{
  border: 5px solid black;
}
