header{
  background-image: url("../../ressources/310_recettes_salees/img/310_header.png");
}

/* CORPS */
.wrapper{
  width: 960px;
  text-align: center;
  margin-bottom: 80px;
}
.image img{
  width:400px;
  height:400px;
}
.image {
  margin: 25px 25px;
  display: inline-block;
}
