.wrapper{
  margin: 40px auto;
}
p {
  margin: 30px 20px;
}
header.salees{
  background-image: url("../../ressources/310_recettes_salees/img/310_header.png");
}
header.sucrees{
  background-image: url("../../ressources/320_recettes_sucrees/img/320_header.png");
}
header.themes{
  background-image: url("../../ressources/400_themes/img/400_header.png");
}
.left-50 {
  margin-left: 5%;
  float: left;
  width: 25%;
}
.left-50 img{
  width: 100%;
  margin-bottom: 30px;
}
.right-50 {
  float: right;
  width: 70%;
}
div.clearfix {
  clear:both;
}
.ingredient {
  width:100%;
  text-align: center;
  display: inline-block;
  background-color: #f5f6f0;
}
.ingredient li{
  line-height: 20px;
  text-align: center;
  margin: 20px 20px;
  color: #515148;
}
.recette{
  width: 80%;
  text-align: center;
  display: inline-block;
  background-color: #f5f6f0;
}
.recette ol{
  list-style-type: decimal;
  text-align: justify;
  margin: 30px 50px;
}
.recette li{
  text-align: justify;
  line-height: 150%;
  margin: 5px 30px;
  color: #515148;
}
.small_bar {
  border: solid 1px;
  height: 0px;
  width: 80px;
  margin: 0px auto 30px auto;
}
.recette_other{
  margin: 5px auto;
  display: inline-block;
}
.recette_other p{
  margin-top: 10px;
  width: 150px;
}
.recette_other a{
  display: inline-block;
  vertical-align: top;
}
.recette_other img{
  width: 150px;
}
