body{
  min-width: 1300px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
header {
  min-width: 1300px;
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
}
p{
  text-align: center;
  line-height: 150%;
}
h1{
  margin: 0;
    text-align: center;
    letter-spacing: 0.5px;
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
}
h2{
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: white;
  padding-bottom: 90px;
}
h3{
  margin-top: 0px;
  padding-top: 30px;
  text-align: center;
  font-size: 36px;
  font-style: italic;
}
.titre_recette {
  background-image: url("../../ressources/Pages_recettes/03b_header_sale.png");
  margin: 0;
}

/* CORPS */
.text{
  width: 70%;
  text-align: center;
  margin: 70px auto 75px auto;
}
.left{
  width: 450px;
  margin-left: 150px;
  float:left;
  margin-bottom: 50px;
}
.ingredient{
  width:450px;
  height: 450px;
  background-color: #f5f6f0;
}
.ingredient li{
  line-height: 1.9em;
  margin-left: 50px;
}
.left img{
  width: 450px;
  margin-bottom: 50px;
}
.right{
  margin-left: 650px;
}
.recette{
  width:650px;
  height: 552px;
  margin-top: 0px;
  background-color: #f5f6f0;
}
.recette li{
  line-height: 1.9em;
  margin-left: 30px;
  margin-right: 30px;
}
.autre_recette{
  width: 650px;
  margin-right: 150px;
}
.autre_recette img{
  width: 200px;
  margin: 0 0 0 90px;
}
.autre_recette p{
  text-align: center;
  margin: 0 0 0 90px;
}
.recette_gauche{
  float: left;
}

/* FOOTER */

.footer{
  min-width: 1255px;
  margin-top: 50px;
  background-color: #191919;
}
.footer h3{
  margin-top: 0px;
  margin-bottom: 20px;
}
.footer p{
  color: white;
}
.footer img{
  height: 150px;
  margin-top: 60px;
  margin-right: 150px;
  float: right;
}
.footer1{
  width: 500px;
  display: inline-block;
  margin: 80px 0 30px 300px;
  padding-right: 150px;
  border-right: solid 1px white;

}
.white_small_bar{
  border: solid 1px white;
  height: 0px;
  width: 60px;
  margin: 1px auto 35px auto;
}
#copyright{
  font-size: 8px;
  margin: 0;
}
