header{
  background-image: url("../../ressources/400_themes/img/400_header.png");
}

/* CORPS */

.image img{
  width:400px;
  height:400px;
}
.all_image{
  max-width: 1000px;
  display: inline-block;
}
.image {
  margin: 25px 25px;
  display: inline-block;
}
