header.themes{
  background-image: url("../../ressources/400_themes/img/400_header.png");
}

/* CORPS */
.wrapper{
  width: 960px;
  text-align: center;
  margin-bottom: 80px;
}
.image img{
  width:400px;
  height:400px;
}
.image {
  margin: 25px 25px;
  display: inline-block;
}
.image p{
  margin-top: 20px;
}
