header.themes{
  background-image: url("../../ressources/400_themes/img/400_header.png");
}
.fil_ariane{
  min-width: 960px;
  background-color: white;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0px;
}
.fil_ariane a{
  font-family: 'Raleway', sans-serif;
  color: grey;
  text-transform: uppercase;
  font-size: 12px;
  padding-right: 30px;
}
/* CORPS */
.wrapper{
  width: 960px;
  text-align: center;
  margin-bottom: 80px;
}
.image img{
  width:400px;
  height:400px;
}
.image {
  margin: 25px 25px;
  display: inline-block;
}
.image p{
  margin-top: 20px;
}
