header {
  background-image: url("../../ressources/500_savoirs/img/05_header.png");
}

/* CORPS */

.image img{
  width:400px;
  height:300px;
}
.image {
  margin: 25px 25px;
  display: inline-block;
}
.all_image{
  max-width: 1000px;
  display: inline-block;
}
