header {
  background-image: url("../../ressources/500_savoirs/img/05_header.png");
}

/* CORPS */
.image{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.image img{
  position: relative;
  width:400px;
  height:300px;
  margin-bottom: 50px;
}
.image h3{
  position:absolute;
  display: flex;
  justify-content: space-around;
  text-align: center;
  top: 600;
  left:350;
  width: 400px;
  height:300px;
  z-index: 1;
}
.fruits {
  width: 80%;
  text-align: center;
  display: inline-block;
  background-color: #f5f6f0;
  overflow: hidden;
}
.fruits p {
  margin: 0 65px 50px 65px;
  color: #515148;
}

.right-30 img, .left-70 img .right-70 img, .left-30 img{
  height: 350px;
}
.left-70 {
  float: left;
  width: 70%;
}
.right-70{
  width: 70%;
  float: right;
}
.right-30 {
  float: right;
  width: 30%;
}
.left-30 {
  float: left;
  width: 30%;
}
div.clearfix {
  clear:both;
}
