header{
  background-image: url(../../ressources/600_contacts/img/06_header.png);
}

.left-50 {
  float: left;
  width: 50%;
}
.right-50 {
  float: right;
  width: 50%;
}
div.clearfix {
  clear:both;
}
.text_cadre {
  width:450px;
  text-align: center;
  display: inline-block;
  background-color: #f5f6f0;
}
.text_cadre p {
  margin: 0 65px 20px 65px;
  color: #515148;
}
.right-50 img, .left-50 img {
  height: 400px;
}
.small_bar {
  border: solid 1px;
  height: 0px;
  width: 80px;
  margin: 0px auto 40px auto;
}
.logo_sociaux {
  display: inline-block;
  margin: 10px 10px;
}
.logo_sociaux img{
  width: 60px;
  height: auto;
  margin: auto;
}

/*TABLEAU*/
.tableau {
  padding: 50px 50px;
  width: 900px;
  background-color: #f5f6f0;
  margin: auto;
}
.titre_tableau{
  margin-bottom: 50px;
  font-size: 36px;
  font-style: italic;
}
table{
  text-align: center;
  margin: auto;
}
td{
  font-family: 'Raleway', sans-serif;
  color: #515148;
  width: 150px;
  height: 50px;
  vertical-align: middle;
}
.ville{
  text-align: center;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
  color: brown;
  margin-right: 20px;
}
.legende{
  text-align: right;
  width: 200px;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
  color: brown;
  padding-right: 30px;
}
